/* SCSS for your specific component, e.g., students.component.scss */

:host {
  display: block;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #F4F2FA; /* Mantido roxo mais claro */
}

h2 {
  margin-bottom: 20px;
  color: #0F0A0A;
}

button {
  background-color: #6E7271;
  color: #FFF7EB;
  border: none;
  padding: 8px 14px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.2s ease;
  margin-right: 5px;
}

button:hover {
  background-color: #0F0A0A;
}

button.add-button {
  background-color: #6A0DAD;
}
button.add-button:hover {
  background-color: #D0B8E8;
}

button.edit-button {
  background-color: #D0B8E8;
  color: #0F0A0A;
}
button.edit-button:hover {
  background-color: #6A0DAD;
  color: #FFF7EB;
}

button.delete-button {
  background-color: #0F0A0A;
}
button.delete-button:hover {
  background-color: #6E7271;
}

p {
  margin: 10px 0;
  color: #6E7271;
}

p[style*="color: red;"] {
  color: #6A0DAD !important;
}

p[style*="color: green;"] {
  color: #0F0A0A !important;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #D0B8E8;
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #6E7271;
  color: #0F0A0A;
}

tbody tr:hover {
  background-color: #FFF7EB;
}