<div class="register-container">
  <h2>Registrar Nova Conta</h2>
  <form (ngSubmit)="onRegister()">
    <div>
      <label for="regUsername">Usuário:</label>
      <input type="text" id="regUsername" [(ngModel)]="username" name="regUsername"
             pattern="^[a-zA-Z0-9]*$" title="Nome de usuário deve conter apenas letras e números, sem espaços ou acentos." required>
    </div>
    <div>
      <label for="regPassword">Senha:</label>
      <input type="password" id="regPassword" [(ngModel)]="password" name="regPassword"
             pattern="(?=.*\d)(?=.*[A-Z]).{8,}"
             title="Senha deve ter no mínimo 8 caracteres, uma letra maiúscula e um número." required>
    </div>
    <div>
      <label for="role">Tipo de Usuário:</label>
      <select id="role" [(ngModel)]="selectedRole" name="role">
        <option value="PROFESSOR">Professor</option>
        <option value="ALUNO">Aluno</option>
      </select>
    </div>
    <button type="submit">Registrar</button>

    <div *ngIf="errorMessage" class="error-message-box">
      <p>{{ errorMessage }}</p>
    </div>

    <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>
  </form>
  <p>Já tem uma conta? <a routerLink="/login">Faça Login aqui</a></p>
</div>