<nav>
  <div class="nav-logo">
    <a routerLink="/">
      <img src="/logo.png" alt="Logo" class="logo">
    </a>
  </div>

  <div class="nav-links">
    <ng-container *ngIf="authService.isAuthenticated$ | async">
      <a routerLink="/students" routerLinkActive="active">Alunos</a>
      <a routerLink="/atividades" routerLinkActive="active">Atividades</a>
      <a *ngIf="(authService.userRoles$ | async)?.includes('PROFESSOR')" routerLink="/dailies" routerLinkActive="active">Dailies</a>
      <a routerLink="/grupos" routerLinkActive="active">Grupos</a>
      <a routerLink="/tags" routerLinkActive="active">Tags</a>
    </ng-container>
    <ng-container *ngIf="!(authService.isAuthenticated$ | async)">
      <a routerLink="/login" routerLinkActive="active">Login</a>
      <a routerLink="/register" routerLinkActive="active">Registrar</a>
    </ng-container>
  </div>

  <div class="nav-right" *ngIf="authService.isAuthenticated$ | async">
    <a (click)="logout()" class="logout-button">
      <span>Sair</span>
      <span class="material-icons">logout</span>
    </a>
  </div>
</nav>

<hr>

<router-outlet></router-outlet>