<div class="tag-list-container">

  <h2>Gerenciamento de Tags</h2>
  <div class="button-container">
    <button mat-raised-button color="primary" routerLink="/tags/new">
      <mat-icon>add</mat-icon>
      Criar Tag
    </button>
  </div>

  <br> <!-- Adiciona um espaço antes do divisor -->
  <mat-divider></mat-divider> <!-- Divisor adicionado aqui -->
  <br> <!-- Adiciona um espaço depois do divisor -->

  <div *ngIf="!tags || tags.length === 0; else tagsGrid" class="no-items-message">
    <p>Nenhuma tag encontrada.</p>
  </div>

  <ng-template #tagsGrid>
    <div class="tags-grid">
      <div *ngFor="let tag of tags" class="tag-card">
        <!-- Passando a cor mais escura como uma variável CSS -->
        <div 
          class="tag-flag" 
          [style.--tag-color]="tag.color || '#673ab7'"
          [style.--tag-darker-color]="getDarkerColor(tag.color || '#673ab7', 15)"
        >
          <span>{{ tag.name }}</span>
        </div>
        <div class="tag-details">
          <div class="tag-flag-id">#{{tag.id}}</div>
          <div class="tag-actions">
            <button mat-icon-button color="accent" [routerLink]="['/tags/edit', tag.id]" matTooltip="Editar Tag">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteTag(tag.id!)" matTooltip="Excluir Tag">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>