<div class="tag-form-container">
  <mat-card>
    <mat-card-title>{{ formTitle }}</mat-card-title>
    <mat-card-content>
      <form [formGroup]="tagForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Nome da Tag</mat-label>
          <input
            matInput
            formControlName="name"
            placeholder="Ex: Backend"
            required
          />
          <mat-error
            *ngIf="
              tagForm.get('name')?.hasError('required') &&
              tagForm.get('name')?.touched
            "
          >
            O nome da tag é obrigatório.
          </mat-error>
          <mat-error
            *ngIf="
              tagForm.get('name')?.hasError('maxlength') &&
              tagForm.get('name')?.touched
            "
          >
            O nome da tag não pode ter mais de 10 caracteres.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Cor da Tag</mat-label>
          <input matInput type="color" formControlName="color" required />
          <mat-error
            *ngIf="
              tagForm.get('color')?.hasError('required') &&
              tagForm.get('color')?.touched
            "
          >
            A cor da tag é obrigatória.
          </mat-error>
        </mat-form-field>

        <div class="form-actions">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="tagForm.invalid"
          >
            <mat-icon>{{ isEditMode ? "save" : "add" }}</mat-icon>
            {{ isEditMode ? "Salvar Edição" : "Criar Tag" }}
          </button>
          <button mat-button type="button" (click)="onCancel()">
            <mat-icon>cancel</mat-icon> Cancelar
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
